<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.101383899067-du9bq7vrbo0jm02lv4ndtl5n1k4gml34</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>101383899067-du9bq7vrbo0jm02lv4ndtl5n1k4gml34.apps.googleusercontent.com</string>
	<key>NSContactsUsageDescription</key>
	<string>LetsTrack needs access to contacts to import and save lead contact details.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>LetsTrack uses Face ID to securely unlock your agent dashboard and protect customer conversations.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LetsTrack needs photo library access to upload images in chats and update customer profile pictures.</string>
	<key>NSCameraUsageDescription</key>
	<string>LetsTrack needs camera access to capture and share photos in chats.</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
		<string>whatsapp</string>
	</array>
</dict>
</plist>
